a{
	text-decoration: none;
}

a:link, a:visited{
	color: rgb(38, 38, 38);
}

.main-header{
	font-family: Verdana;
	font-size: 35px;
	color: rgb(38, 38, 38);
}

.main-header nav{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(44, 130, 249);
	height: 50px;
}

.main-header nav dl{
	margin: 0 auto;
}

.main-header nav dl dt{
	position: relative;
	float: left;
}

.main-header nav a:link, .main-header nav a:visited{
	color: #FFF;
	padding: 8px 25px;
	height: 20px;
} 

.main-header nav a:hover, .main-header nav a:active,
.main-header nav .active a:link, .main-header nav .active a:visited{
	background-color: rgb(38, 38, 38);
	text-shadow: none;

}

.main-header a:hover{
	background-color: rgb(38, 38, 38);
}

.left-menu{
	margin: 0 auto;
	width: 20%;
	clear: both;
	float: left;
}

.left-menu nav{
	position: fixed;
	background-color: rgb(237, 237, 237);
	top: 50px;
	left: 0;
	right: 80%;
	bottom: 0;
	padding: 0 1%;
}

.right-menu{
	width: 80%;
	clear: both;
	margin: 0 auto;
	float: right;
}

.right-menu article{
	position: static;
	background-color: rgb(255, 255, 255);
	padding: 1% 2%;
    padding-top: 40px; /*Checar este pedo*/
}

.right-menu article form{
    position: static;
    padding-top: 20px;
}

.main-footer{
    position: absolute;
    width: 100%;
    background-color: #FFF;
    padding: 60px, 0px;
}

#h4-special{
    font-style: italic;
    font-family: sans-serif;
    color: rgb(44, 130, 249);
}

.home-header{
	width: 70%;
	clear: both;
	margin: 0 auto;
}

.home-header h1{
	color: rgb(38, 38, 38);
	font-size: 50px;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
	top: 20%;
}

.home-header h2{
	left: 0;
	right: 0;
	font-size: 35px;
	text-align: center;
	position: absolute;
	top: 35%;
}

.home-header h2 a{
	background-color: rgb(44, 130, 249);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 20px;
}

.home-header a:hover{
	color: #FFF;
	background-color: rgb(38, 38, 38);
}

.home-body{
	background-image: url(Images/Guanajuato.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	font-family: Verdana;
}

input