<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h1><i class="glyphicon glyphicon-align-left" aria-hidden="true"></i>Preguntas a responder</h1>
            <table class="table table-bordered">
                <tr>
                    <td><b>¿Por qué es una buena práctica separar el controlador de la vista?</b> Porque en proyectos muy grandes manejar todo en un solo lugar puede volverse muy difícil y modificar algún elemento puede volverse una tarea muy compleja</td>
                </tr>
                <tr>
                    <td><b>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</b>
                        <table>
                            <tr>
                                <td>$_SESSION: Es un array asociativo que contiene variables de sesión disponibles para el script actual.</td>
                            </tr>
                            <tr>
                                <td>$_SERVER: Es un array que contiene información, tales como cabeceras, rutas y ubicaciones de script.</td>
                            </tr>
                            <tr>
                                <td>$_REQUEST: Un array asociativo que por defecto contiene el contenido de $_GET, $_POST y $_COOKIE.</td>
                            </tr>
                            <tr>
                                <td>$_COOKIE: Una variable tipo array asociativo de variables pasadas al script actual a través de Cookies HTTP.</td>
                            </tr>
                            <tr>
                                <td>$_SERVER: Es un array que contiene información, tales como cabeceras, rutas y ubicaciones de script.</td>
                            </tr>
                            <tr>
                                <td>$_FILES: Una variable tipo array asociativo de elementos cargados al script actual a través del método POST.</td>
                            </tr>
                            <tr>
                                <td>$_ENV: Una variable tipo array asociativo de variables pasadas al script actual a través del método del entorno.</td>
                            </tr>
                            <tr>
                                <td>$GLOBALS: Es un array asociativo que contiene las referencias a todas la variables que están definidas en el ámbito global del script.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><b>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención:</b>
                        <table>
                            <tr>
                                <td>La función isset() me llamó la atención porque es una función que revisa no solo que una variable no sea nula, sino que también esté definida.</td>
                            </tr>
                            <tr>
                                <td>La función urlencode() nunca la había visto en otro lenguaje y sirve para codificar una cadena para ser usada como la parte de consulta de una URL, como método práctico para pasar variables a la siguiente página.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>